body {
  font-family: "Franklin Gothic Medium";
  font-size: 1.3rem;
  color: white;
  margin: 2rem;
  padding: 2rem;
  width: 70%;
  position: absolute;
  left: 15%;
}

#sidebar {
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 7rem;
  background-color: rgba(0, 0, 0, 0.548);
}
footer {
  text-align: center;
  background-color: #474642f6;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  padding: 2rem;
}

.borderbevel {
  max-width: 60%;
  border-radius: 30%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(46, 46, 46);
}

#h1 {
  padding-top: 4rem;
}

h1 {
  color: rgb(255, 218, 151);
}

h2 {
  color: rgb(255, 218, 151);
  margin: 0;
}

p {
  font-family: "Franklin Gothic light";
  padding-bottom: 2rem;
}

.backgroundcover {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.contentbox {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menulist {
  list-style: none;
  padding: 0;
}

a:link {
  color: rgb(169, 231, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(169, 231, 255);
}

a:hover {
  color: rgb(199, 149, 255);
  transition: all 0.3s ease-out;
}

#page {
  display: flex;
  flex-direction: column;
  background-color: #474642ab;
  border-radius: 10px;
  box-shadow: 6px 6px 3px rgba(37, 37, 37, 0.205);
}

#profilebox {
  margin: 1rem;
  margin-left: 0;
  align-self: center;
}

#flex-row {
  display: flex;
  margin: 0;
  padding: 1rem;
  padding-left: 0;
  text-align: center;
}

.imgtitle {
  display: flex;
}

.h2boxheading {
  padding-top: 0.6rem;
  padding-left: 1rem;
}

.icon {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

hr {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  border: 2px solid black;
}

.button1:hover {
  color: white;
}
