body {
    font-family: sans-serif;
    font-size: 110%;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

#heading {
    background-color: #343330;
    color: white;
    padding: 1rem;
    padding-top: 2rem;
}

header {
    text-align: center;    
}

.headshot {
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 81, 0);
}

#content {
    width: 80%;
    padding: 1rem;
    margin: 1rem;
}

.backgroundcover {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
    display: flex;
    flex-direction: row;
}

#sidebar {
    background-color: #45462A;
    color: white;
    padding: 1rem;
}

.navlinks {
    color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 0;

}

a:link {
    color: inherit;
}

footer {
    text-align: center;
    background-color: #343330;
    color : white;
    padding: 1rem;
    padding-bottom: 2rem;
    justify-content: center;
}


